body{
    background-color: rgb(56, 128, 86);
}
#Songname{
    color: rgb(151, 36, 84);
    font-family: Arial, Helvetica, sans-serif;
}
#Re{
    font-size: 18;
    font-family: fantasy;
    color: rgb(106, 90, 121);
}
#Ly{
    color: rgb(36, 36, 151);
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}
p{
    color: rgb(0, 0, 0);
    font-family:inherit;
    font-size: large;
}
