body{
    background-color: pink;
}
h1{
    color: red;
    text-align: center;
    font-weight: bold;
    font-size: 40;
    text-decoration: underline;
}
h2{
    color: blue;
    text-align: center;
    font-size: 20;
    font-weight: bold;
    font-family:monospace;
}
p{
    color:black;
    font-style: italic;
    font-size: large;
}
#l1{
    color: red;
    font-family:monospace;
    font-size: 18;
}
.l2{
    color:rgb(175, 73, 73);
    text-decoration: underline;
    font-family:monospace;
    font-size: 18;
    
}