body{
    background-color: rgb(226, 190, 190);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(34, 56, 10);
    position: absolute; right:41vw;
}

table{
    margin-left: auto;
    margin-right: auto;
    border: #c91212;
    width: 75%;
    border-style: solid;
    outline-style: solid;
    outline-color: rebeccapurple;
    outline-width: 10px;
    
}
tr{
    color: rgb(68, 112, 23);
}
#mon{
    text-align: center;
    color: rgb(24, 51, 51);
}

#tue{
    text-align: center;
    color: darkblue;
}

#wed{
    text-align: center;
    color: darkgoldenrod;
}

#thu{
    text-align: center;
    color: darkred;
}

#fri{
    text-align: center;
    color: floralwhite;
}

#sat{
    text-align: center;
    color:indigo;
}

#sun{
    color: magenta;
}

